.research {
  margin-top: 10%;
  padding: 2%;
}
.comp {
  height: 50%;
}
fieldset {
  border: 2px solid #493ca2;
  height: 100%;
}
fieldset ol {
  display: flex;
  justify-content: space-around;
  list-style: none;
}
fieldset li {
  padding-top: 2%;
}
fieldset ol li a {
  text-decoration: none;
  color: #000;
}
fieldset ol li a:hover {
  border-bottom: 2px solid;
  color: #493ca2;
  padding-bottom: 10px;
}
fieldset #serv {
  position: relative;
  left: 35%;
  width: 30%;
}
fieldset #serv:hover {
  opacity: 0.3;
}
