.nav {
  margin-top: 10%;
  display: flex;
  justify-content: space-between;
  width: 100%;
  counter-reset: num;
  height: 30%;
}
.nav a::before {
  /* Increment Counter */
  counter-increment: num;
  /* Display Counter */
  content: counter(num) ": ";
}
.nav a {
  text-decoration: none;
  padding-left: 2%;
}
.nav_link {
  display: flex;
  flex-direction: column;
  width: 30%;
  padding: 2%;
  line-height: 5;
}
.nav_link a:hover {
  border-bottom: 2px double #493ca2;
}

.nav_img {
  padding-right: 2%;
  width: 70%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.nav_img img {
  width: 50vw;
  height: 20em;
  padding-right: 3%;
}
