.about {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 40%;
  /* margin-top: 10%; */
}
.abt-tex h1 {
  position: absolute;
  top: 115vh;
  text-transform: capitalize;
  font-size: 20px;
  padding-left: 4%;
  /* margin-top: 10%; */
}
.abt-tex {
  width: 40%;
  margin-top: 25%;
}
.abt-tex p {
  font-size: 18px;
  padding-left: 4%;
}
.ab-img {
  width: 40%;
}
.ab-img img {
  width: 90%;
  margin-top: 60%;
  padding-right: 3%;
}
