.input_wrapper {
  width: 50%;
  display: flex;
  justify-content: center;
  background: linear-gradient(
      to bottom,
      rgba(165, 23, 221, 0.7),
      rgba(89, 18, 170, 0.7)
    ),
    url("../Library_Images/tenor (1).gif");
  background-size: contain;
  background-repeat: no-repeat;
  background-blend-mode: hard-light;
}
.form {
  width: 30%;
  position: absolute;
  top: 72.5em;
  display: flex;
  flex-direction: column;
}
.form input[type="text"] {
  height: 5vh;
  outline: none;
  padding-left: 15px;
}
.form input[type="submit"] {
  margin-top: 2%;
  height: 7vh;
  border-radius: 20px;
  background-color: #493ca2;
  color: #fff;
  outline: none;
  box-shadow: 3px 5px #8170f0;
}
.library_services {
  /* height: 10vh; */
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  line-height: 4;
  top: 200vh;
  width: 30%;
}
.library_services a {
  color: #fff;
  text-decoration: none;
}
.library_services a:hover {
  border-bottom: 2px solid #493ca2;
  padding-bottom: 10px;
}
