.land-body .library-views {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  height: 80vh;
  width: 100%;
}
.library-views img {
  width: 100%;
  height: 20em;
  text-align: center;
}
.nav-click {
  display: flex;
  justify-content: space-between;
  position: relative;
  left: -20px;
  top: 150px;
  padding: 10px;
}
.nav-click button {
  align-self: center;
  border-radius: 50%;
  width: 5%;
  height: 7vh;
  text-align: center;
  background-color: #494ca2;
  color: #fff;
  outline-style: none;
  margin-left: 5%;
}
.library-views .nav-btn h4 {
  color: #494ca2;
}
.cover {
  /* background: linear-gradient(
    to right,  rgba(77, 4, 95, 0.7),
      rgba(rgb(162, 4, 201, 0))
    ),
  url("/image/white3.jpeg");
  background-color: #8185d5; */
  /* background-blend-mode: luminosity; */
  background-size: cover;
  background-position: contain;
  background-repeat: round;
  color: #000;
}

.cat-class {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  line-height: 2;
}
.cat-class-btn {
  border: 2px solid #493ca2;
  border-radius: 20px;
  width: 15%;
  text-align: center;
}
.cat-class .join {
  margin-bottom: 1%;
  color: #493ca2;
}
.cat-class .ren {
  background-color: #494ca2;
  margin-bottom: 1%;
  color: #fff;
}
.cat-class .cat {
  margin-bottom: 1%;
  color: #493ca2;
}
.cat-class a {
  text-decoration: none;
}
.cat-class .cat-class-btn:hover {
  font-size: 20px;
}
.nav-btn {
  background-color: #fff;
  border-top-left-radius: 5%;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 5%;
  border: 2px solid #494ca2;
  transform: skewX(-30deg);
  height: 30vh;
  width: 70%;
  text-align: center;
  margin-left: 70px;
}
.nav-btn:hover {
  filter: drop-shadow(0 3px 10px #8170f0);
}
