.form {
  display: flex;
  flex-direction: column;
  text-align: center;
  line-height: 5;
}
.botton {
  display: flex;
  justify-content: space-around;
}
.search_form input[type="search"] {
  height: 5vh;
  width: 40%;
  padding-left: 15px;
}
.search_form .button input[type="submit"] {
  width: 30%;
  height: 7vh;
  background-color: #493ca2;
  color: #fff;
}
