.input_wrapper {
  margin-top: 5em;
}
.signup input[type="email"],
.signup input[type="password"] {
  /* font-family: "Patrick Hand SC", cursive; */
  width: 50vw;
  height: 3em;
  border-radius: 20px;
  padding-left: 3%;
  outline: 0;
  border: none;
  border-bottom: 2px solid #494ca2;
  background-color: transparent;
  font-size: 20px;
}
.signup input::placeholder {
  color: #494ca2;
}
.button[name="Login"] {
  position: absolute;
  top: 11em;
  right: 5%;
  width: 15%;
  height: 5.3vh;
  background: linear-gradient(#494ca2, #8186d5);
  outline: none;
  border-style: none;
  font-family: "Patrick Hand SC", cursive;
  font-size: larger;
  border-radius: 12px;
}
